<!DOCTYPE html>
<html>

<head>
    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Admin</title>
    <div th:replace="~{libs/libs-header :: libs-header}"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <link rel="icon" href="/assets/images/logo.png" type="image/x-icon">
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- <script>
        const preloader = document.querySelector(".preloader");
        preloader.style.display = "";
        setTimeout(()=>{
            preloader.style.display = "none"
        },1000)
    </script> -->
    <!--/* Standard layout can be mixed with Layout Dialect */-->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <div th:replace="fragments/default-header :: default-header"></div>

        <div th:replace="fragments/default-sidebar :: default-sidebar"></div>
        <div style="padding-top: 20px;"></div>
        <div layout:fragment="content"></div>

        <div th:replace="fragments/default-footer :: default-footer"></div>

    </div>
</body>
<script src="assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<div th:replace="~{libs/libs-footer :: libs-footer}"></div>

</html>