<!DOCTYPE html>
<html>

<head>
    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Alternative Layout</title>
    <div th:replace="~{libs/libs-header :: libs-header}"></div>
</head>

<body>
    <!--/* Standard layout can be mixed with Layout Dialect */-->
    <div th:replace="fragments/alternative-header :: alternative-header"></div>

    <div class="container">
        <div layout:fragment="content"></div>

        <div th:replace="fragments/alternative-footer :: alternative-footer"></div>
    </div>
</body>
<div th:replace="~{libs/libs-footer :: libs-footer}"></div>

</html>