<!DOCTYPE html>
<html>

<head>
    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Default Layout</title>
    <div th:replace="~{libs/libs-header :: libs-header}"></div>
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!--/* Standard layout can be mixed with Layout Dialect */-->

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <div th:replace="fragments/default-header :: default-header"></div>

        <div th:replace="fragments/default-sidebar :: default-sidebar"></div>

        <div layout:fragment="content"></div>

        <div th:replace="fragments/default-footer :: default-footer"></div>

    </div>
</body>
<div th:replace="~{libs/libs-footer :: libs-footer}"></div>

</html>