<!-- default-layout.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <!-- Common CSS and other resources -->
    <div th:replace="~{libs/libs :: libs}"></div>
</head>

<body>
    <!-- Common header -->
    <div th:replace="~{fragments/alternative-header :: alternative-header}"></div>

    <!-- Page content -->
    <div>
        Home alternative-layout
    </div>

    <!-- Common footer -->
    <div th:replace="~{fragments/alternative-footer :: alternative-footer}"></div>
</body>

</html>